@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-black: #272932; //raisin black
  --app-white: #e7ecef; //anti-flash white
  --app-green: #4ec9ab; //caribbean green
  --app-red: #f05d5e; //bittersweet
  --app-orange: #d8a47f; //buff
  --app-gray: #37373d;
}

html,
body {
  background-color: var(--app-black);
  padding: 0;
  margin: 0;
  color: var(--app-white);
}

#site-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateY(-100%);
  &.is-open {
    animation: 0.3s ease 0s 1 forwards slideInFromTop;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 120vh;
  width: 120vw;
  position: absolute;
  left: -10px;
  top: -10px;
  z-index: 5;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.list-bullets {
  li {
    position: relative;
    padding-left: 15px;
    margin: 12px 0;
  }
  li::before {
    content: " ";
    width: 5px;
    height: 5px;
    background-color: var(--app-green);
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-120%);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideToFromRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(120%);
    visibility: hidden;
  }
}

.tabview__body {
  padding: 2rem;
  transition: transform ease;

  &.active {
    animation: 0.3s ease 0s 1 forwards slideInFromLeft;
  }

  &.inactive {
    animation: 0.3s ease 0s 1 forwards slideToFromRight;
    position: absolute;
  }
}
